!!!
%html
  %head
    %title Boston Ruby Beginners
    %link(rel="stylesheet" href="/screen.css" media="screen")/
  %body
    %header
      %h1
        %a(href="/")
          %img(alt="logo" src="/logo.png")/
          Boston Ruby Beginners
    %nav.links= markdown :_links, :layout => false
    %section#container= yield
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    %script(src="/scripts/shCore.js")
    %script(src="/scripts/shBrushRuby.js")
    %script(src="/scripts/application.js")
